h2{
    color: grey;
    background-color: black;
    text-align: center;
    margin: 20px;
    height: 60px;
    position: static;
  
  }
  h3{
    text-align: center;
  }
  .image{
    border: solid 1px black;
    display: inline-block;
    margin: 50px;
  
  }
  img {
    height: 300px;
    width: 300px;
  
  }
  .info{
    border: solid 2px;
    margin: 10px 10px;
    background-color: black;
    color: white;
    text-align: center;
  }
  body{
    background-color: grey;
  }
  footer {
    padding: 20px;
    background-color: black;
    color: white;
  }